
<table align="center" width=50% style="margin-top:75px">
  <tr>
      <td >X</td>
      <td >O</td>
  </tr>
  <tr>
    <td colspan=2><span>0</span><b class=b>:</b><span  >0</span></td>
</tr>
</table>
<dialog open>

  <p>The winner is</p><q id=q></q>________<br /><b style="font-size:35px;font-family: monospace;">Click to continue</b>
</dialog>
 <table align="center" width=50%>
  <tr>
      <th onclick=fu(this) class="st"></th>
      <th onclick=fu(this) class="nd"></th>
      <th onclick=fu(this) class="th"></th>
  </tr>
  <tr>
      <th onclick=fu(this) class="fo"></th>
      <th onclick=fu(this) class="fi"></th>
      <th onclick=fu(this) class="se"></th>
  </tr>
  <tr>
      <th onclick=fu(this) class="sev"></th>
      <th onclick=fu(this) class="ei"></th>
      <th onclick=fu(this) class="ni"></th>


  </tr>
</table>
<div class="by">
  <br>
  <br>
  <br>
Copyright &copy; 2022 | Created By NJM
</div>

<br />
<br />
 <script>
document.getElementsByTagName('span')[2].innerHTML=new Date() ? new Date().getFullYear() : 'Yet';
</script>

